* {
 margin: 0;
 padding: 0;
 outline: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Segoe UI';
 -webkit-font-smoothing: antialiased;
}

#root,
#__next {
 display: flex;
 align-items: center;
 justify-content: center;
 background: #f5f5f5;
}

p {
 hyphens: auto;
 text-align: justify;
}

a {
 color: #65a6c2;
 text-decoration: none;
}
a:hover {
 color: #ff7f00;
}

button,
img {
 cursor: pointer;
 background: transparent;
 border: none;
}

fieldset {
 border: none;
}

label {
 cursor: text;
}

ol,
ul {
 list-style-position: inside;
}
