* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee8;
    font-family: 'Archivo';
    -webkit-font-smoothing: antialiased;
}

p {
    hyphens: auto;
}
p,
ol {
    line-height: 1.3em;
}

a {
    color: #6ac;
    text-decoration: none;
}
a:hover {
    color: #f70;
}

button,
img {
    cursor: pointer;
    background: transparent;
    border: none;
}

fieldset {
    border: none;
}

label {
    cursor: text;
}

ol,
ul {
    list-style-position: inside;
}
