@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);

/* Overrides */
.pkp_structure_page {
 box-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
 min-width: 387px;
}
.pkp_structure_content {
 display: inline-flex;
}
#pkp_content_main,
.pkp_structure_content,
.pkp_head_wrapper,
.pkp_navigation_user,
.pkp_structure_footer,
.pkp_content_footer,
.pkp_structure_sidebar {
 width: auto !important;
}

.pkp_page_index .cmp_announcements {
 border: none !important;
}
::before,
::after {
 display: none;
}

/* Generic */
body {
 font-family: 'Montserrat', 'Segoe UI', 'system-ui', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
  sans-serif;
 background: #f5f5f5;
 padding: 2vw max(7px, 11.7vw);
}

a {
 color: #65a6c2;
 text-decoration: none;
}
a:hover {
 color: #ff7f00;
 text-decoration: none;
 cursor: pointer;
}
.pkp_nav_list li a,
.pkp_navigation_primary ul a,
.obj_article_summary .title a,
.obj_announcement_summary h2 a,
.obj_announcement_summary h3 a,
.obj_announcement_summary h4 a,
.obj_announcement_summary a.read_more {
 color: #ff7f00;
 text-decoration: none;
}
.obj_announcement_summary h2 a:hover,
.obj_announcement_summary h2 a:focus,
.obj_announcement_summary h3 a:hover,
.obj_announcement_summary h3 a:focus,
.obj_announcement_summary h4 a:hover,
.obj_announcement_summary h4 a:focus,
.obj_article_summary .title a:hover,
.obj_article_summary .title a:focus,
.obj_announcement_summary a.read_more:hover,
.obj_announcement_summary a.read_more:focus {
 color: #4b7d92;
 text-decoration: none;
 cursor: pointer;
}

/* Buttons */
.cmp_manuscript_button,
.block_make_submission a,
.galleys_links a,
.page_search .submit button,
.page_login .buttons button {
 background: #4b7d92;
 color: #fff;
 text-align: center;
 max-width: 135px;
}
.cmp_manuscript_button,
.block_make_submission a:hover,
.galleys_links a:hover,
.page_search .submit button:hover,
.page_login .buttons button:hover {
 background: #ff7f00;
 cursor: pointer;
}
.block_make_submission div {
 min-width: 90px;
 max-width: 135px;
}

/* Header */
.pkp_structure_head {
 background-color: #e7e7e7;
}
.pkp_site_name > a {
 padding-top: 10px;
 padding-bottom: 1px;
}
.pkp_site_name .is_img img {
 max-height: 90%;
 max-width: 100%;
 padding-left: 25%;
 padding-top: 15px;
}
.pkp_head_wrapper .pkp_search .search_prompt {
 color: #ff7f00;
 font-weight: 600;
 font-variant: small-caps;
}
.pkp_head_wrapper .pkp_search .search_prompt:hover {
 color: #007ab2;
 border-bottom-color: #007ab2;
}
/* Navigations */
.pkp_nav_list li a {
 font-weight: 400;
 padding-left: 0;
 font-variant: small-caps;
 font-size: 1em;
}
.pkp_navigation_primary li a {
 font-size: 1.5em;
}
.pkp_navigation_primary li:first-child a {
 margin-left: 12px;
 font-size: 1.5em;
}
.pkp_navigation_user_wrapper {
 border-bottom: 1px solid #ff7f00;
}

.pkp_navigation_primary ul a {
 font-weight: 400;
 font-variant: small-caps;
}
.pkp_navigation_primary li a:hover,
.pkp_navigation_primary li a:focus {
 color: #007ab2;
 border-bottom: 2px solid #007ab2;
}
li.profile a {
 font-weight: 600;
}
.dropdown-menu li a {
 margin: 0 !important;
}

/* Articles */
div.pkp_structure_main {
 background: #fff;
 max-width: 855px;
 border: 1px solid #4b7d92;
 border-left: 0;
 border-radius: 0 35px;
 padding: 0 30px 10px;
}

.obj_issue_toc .heading {
 border-bottom: 1px solid #ddd;
 text-align: center;
}
.obj_announcement_summary h2 a,
.obj_announcement_summary h3 a,
.obj_announcement_summary h4 a {
 font-size: 1.2em;
}
.obj_announcement_summary a.read_more {
 font-size: 13px;
 font-weight: 700;
 line-height: 30px;
}
@media (min-width: 800px) {
 h2 ~ article.obj_announcement_summary {
  border-right: 1px solid #ddd;
 }
}

.pkp_structure_main h1,
.pkp_structure_main h2,
.pkp_structure_main h3,
.pkp_structure_main h4 {
 color: #ff7f00;
 font-variant: small-caps;
 margin: 0;
}
.obj_issue_toc .cover img {
 width: auto;
 max-height: 600px;
 margin: 0 auto;
}

.obj_issue_toc div.section:first-child {
 border-bottom: 1px solid #ddd;
}
.obj_issue_toc .section {
 margin: 0 -30px;
 padding: 0 20px;
}
.obj_issue_toc .section h2 {
 font-size: 22px;
 font-weight: 500;
}
.obj_article_summary .title a {
 font-size: 1.5em;
 font-weight: 400;
 font-variant: small-caps;
}

/* Footer */
.pkp_structure_footer_wrapper {
 background: #ddd;
}
.pkp_structure_footer {
 margin-top: 30px;
}
.pkp_footer_content {
 display: inline-flex;
 flex-flow: row wrap;
 justify-content: center;
 margin: 0 1vw;
 padding: 0 !important;
 text-align: center;
 font-size: 0.9em;
 max-width: 1000px;
}
.pkp_footer_content #footer-title {
 flex-basis: 100%;
 margin-bottom: 5px;
 font-weight: bold;
 color: #000;
}
.pkp_footer_content img {
 margin: 0 2px;
 height: max(10px, 3vw);
 width: auto;
}
.pkp_brand_footer {
 display: none;
}
/* Rest */
.page_contact {
 width: 50vw;
}

span.name,
span.label {
 color: #777;
}
